<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Registrazione Completata</title>
    <link rel="stylesheet" href="/css/style-success.css"/>
</head>
<body>
    <div class="container">
        <h1>Registrazione Completata</h1>
        <p>Clicca se sei un master o un giocatore</p>

        <!-- Form per diventare Master -->
        <form th:action="@{/logged/diventaMaster}" method="post">
            <!-- token CSRF -->
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <button type="submit" class="btn">Gioca come Master</button>
        </form>

        <!-- Form per diventare Giocatore -->
        <form th:action="@{/logged/diventaGiocatore}" method="post">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <button type="submit" class="btn">Gioca come Giocatore</button>
        </form>
    </div>
</body>
</html>
