<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Giocatore HomePage</title>
  <link rel="stylesheet" href="/css/style-loggedIndex.css"/>
</head>
<body>
  <header>
    <h1>Comincia la tua campagna</h1>

    <!-- form POST per tornare Master -->
    <form th:action="@{/logged/diventaMaster}" method="post" style="display:inline">
      <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
      <button type="submit">Diventa Master</button>
    </form>

    <button onclick="window.location.href='/logged/giocatore/personaggio'">Personaggi</button>
    <button onclick="window.location.href='/logged/giocatore/campagna'">Seleziona Campagna</button>
  </header>
</body>
</html>
