@import url('https://fonts.googleapis.com/css2?family=Fondamento:ital@0;1&family=Turret+Road:wght@200;300;400;500;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Fondamento', cursive;
    background-image: url('/images/logged_index.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}

.background {
    background-color: rgba(45, 2, 49, 0.4);
    min-height: 100vh;
    padding-top: 100px;
    padding-bottom: 50px;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem;
    width: 100%;
    position: fixed;
    top: 20px;
    left: 0;
    z-index: 1000;
    height: 60px;
}

.logo {
    width: 10vw;
    height: auto;
}
.logo img {
    width: 100%;
    height: auto;
    display: block;
}

.nav-links {
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
    list-style: none;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    padding: 0.4rem 0.8rem;
    transition: color 0.3s ease;
}
.nav-links a:hover,
.nav-links .active {
    color: #ffd700;
}

/* Contenuto Personaggio */
.container {
    width: 800px;
    margin-left: 4rem;
    padding: 2rem;
    border-radius: 20px;
}

.container h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: white;
}

.container p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    line-height: 1.6;
}

.container img {
    display: block;
    margin: 1rem 0; /* margine solo sopra e sotto */
    width: 120px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
}
.container img:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

/* Pulsanti */
.actions {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 2rem;
}

.actions .button {
    background-color: transparent;
    color: white;
    padding: 12px 20px;
    font-size: 1rem;
    border-radius: 3
}
.actions .button:hover {
    color: #ffd700;
}