@import url('https://fonts.googleapis.com/css2?family=Fondamento:ital@0;1&family=Turret+Road:wght@200;300;400;500;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin:0;
    font-family: 'Fondamento', cursive;
    background-image: url('/images/logged_index.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.background {
    background-color: rgba(45, 2, 49, 0.4); /* Colore di sfondo con trasparenza */
    width: 100vw;
    height: 100vh;
    z-index: -1; /* Assicura che il background sia dietro gli altri elementi */
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
  width: 100%;
  position: fixed; /* navbar sempre visibile in alto */
  top: 20px;
  left: 0;
  z-index: 1000;
  height: 60px;
}

.logo{
    width: 10vw;
    height: auto;
}
.logo img {
    width: 100%;
    height: auto;
    display: block;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  gap: 2rem; /* spazio tra i link, opzionale */
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 100;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem;
  padding: 0.4rem 0.8rem;
  transition: color 0.3s ease;
}

.nav-links a:hover,
.nav-links .active {
  color: #ffd700;
}


.content {
  padding: 2rem 4rem 4rem 4rem; /* top, right, bottom, left */
  width: 100vw;
  min-height: 100vh;
  color:white;
  align-content: center;
}


.description h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.summary {
  font-size: 1.1rem;
  max-width: 600px;
  margin-bottom: 1rem;
}


header > * {
    position: relative;
    z-index: 1;
}
h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}
button{
    background-color: transparent;
    color: white;
    border: white solid 1px;
    margin: 20px;
    padding: 20px 0;
    font-size: 20px;
    border-radius: 40px;
    cursor: pointer;
    align-self: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    width: 15vw;
    min-width: 200px;
    max-width: 500px;
}
button:hover{
    background-color: rgba(50, 26, 54, 0.4);
    color: rgb(255, 255, 255);
}
.campagne {
    color: white;
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
  flex-wrap: wrap;
}

.campagna-card {
  padding: 20px;
  width: 100%;
  max-width: 50vw;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  color: white;
}
.campagna-card p {
  font-size: 1rem;
  line-height: 1.5;
  white-space: normal;
  word-break: break-word;
  overflow-wrap: break-word;
}

a {
  color: #fff;
  transition: color 0.3s ease;
}
a:hover {
  color: #ffd700;
}
.disabled {
  color: rgb(227, 200, 238);
  font-style: italic;
  pointer-events: none;
  cursor: default;
}
.alert{
  color: rgb(66, 10, 10);
  background-color: rgba(255, 0, 0, 0.329);
  width: 40vw;
  border-radius: 10px;
  text-align: center;
}
