@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400&display=swap');
body{
    margin: 0;
    background: #1E1E1E;
    font-family: 'Goldman';
    background-image: url('https://i.pinimg.com/736x/72/00/8f/72008fa7c75a8b15f3372d60d4aab7ac.jpg');
}
.titolo{
    margin-left: 0;
    position: absolute;
    margin: 0;
    width: 200px;
    height: 8px;
    color: white;
    z-index: 1001;
}
.navbar{
    color:white;
    font-family: 'Goldman';
    position: fixed; /*la barra é fissa*/
    top: 0;
    background-color: rgb(0, 0, 0);
    width: 100%; /*larghezza massima uguale alla pagina*/
    height: 3em;
    padding: 1em;
    display: flex; /*permette di usare flexbox*/
    justify-content: space-around; /*spazio tra gli elementi*/
    z-index: 1000; /*permette di sovrapporre gli elementi*/
}
.navbar a{
    font-size: 20px; /*dimensione del testo*/
    color: white;
    text-decoration: none; /*permette di non avere la sottolineatura*/
    padding: 7.5px 15px; /*padding del testo*/
}
.navbar a:hover{
    background-color: rgb(22, 22, 22); /*colore di sfondo al passaggio del mouse*/
    color: #73dbbc; /*colore del testo al passaggio del mouse*/
    border-radius: 4px; /*raggio degli angoli*/
}
section{
    position: absolute; /*permette di posizionare gli elementi in modo assoluto*/
    width: 100%; /*larghezza massima uguale alla pagina*/
    height: 100%; /*altezza massima uguale alla pagina*/

    display: flex; /*permette di usare flexbox*/
    flex-direction: column; /*direzione degli elementi*/
    align-items: center; /*allineamento degli elementi*/
    justify-content: center; /*giustificazione degli elementi*/
    z-index: 0; /*permette di sovrapporre gli elementi*/
    color: rgb(255, 255, 255); /*colore del testo*/
    font-size: large;
}

#campagna{
    background-color: #337a65;
    color: white;
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
    z-index: 2000;
}
#campagna:hover{
    background-color: #326455;
}