<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Personaggi</title>
    <link rel="stylesheet" href="/src/main/resources/static/css/style-characters.css"/>
</head>
<body>
    <nav>
        <a id="nav_item" href="/homePage.html">Home</a>
        <a id="nav_item" href="/characters">Characters</a>
        <a id="nav_item" href="/note">Note</a>
        <a id="nav_item" href="/map">Map</a>
        <a id="nav_item" href="/profilo">Profilo</a>
    </nav>

    <header>
        <h1>Personaggi della campagna</h1>
        <button onclick="window.location.href='creaPersonaggio.html'">Crea un nuovo personaggio</button>
    </header>

    <section>
        <div class="box">
            <a id="character" href="schedaPersonaggio.html"> Nome Personaggio 1</a>
        </div>
        <div class="box">
            <a id="character" href="schedaPersonaggio.html"> Nome Personaggio 2</a>
        </div>
    </section>

</html>