<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Scheda Personaggio</title>
    <link rel="stylesheet" href="/css/style-characterPage.css"/>
</head>
<body>
  <div clas="dati">

    <div class="info">
      <h1>Name Character</h1>
      <h3>Name of Player</h3>
      <p>Livello</p>
    </div>
    <div class="description">
      <h3>Descrizione</h3>
      <p>
        Esempio descrizione<br />
        aaaaaaaaaaaaaaaaaaaaaaa<br />
        aaaaaaaaaaaaaaaaaaaaaaa<br />
        aaaaaaaaaaaaaaaaaaaaaaa<br />
        aaaaaaaaaaaaaaaaaaaaaaa<br />
        aaaaaaaaaaaaaaaaaaaaaaa<br />
        aaaaaaaaaaaaaaaaaaaaaaa<br />
        aaaaaaaaaaaaaaaaaaaaaaa<br />
        aaaaaaaaaaaaaaaaaaaaaaa
        </p>
    </div>
  </div>

        
    <div class="links">
        <a href="/homePage.html">🏠</a>
        <a href="/characters">👤</a>
        <a href="/note">📝</a>
        <a href="/map">🗺️</a>
    </div>

      
    <div class="side-info">
        <p><strong>Razza</strong><br />Umano</p>
        <p><strong>Classe</strong><br />Bardo</p>
    </div>
    
    <div class="immagine">
      <img src="/src/main/resources/static/img/character.png" alt="Character Image" />
    </div>
    <div class="stats">
      <div class="stat">
        <div class="circle">1</div>
        <div class="label">Forza</div>
      </div>
      <div class="stat">
        <div class="circle">2</div>
        <div class="label">Destrezza</div>
      </div>
      <div class="stat">
        <div class="circle">3</div>
        <div class="label">Costituzione</div>
      </div>
      <div class="stat">
        <div class="circle">4</div>
        <div class="label">Intelligenza</div>
      </div>
      <div class="stat">
        <div class="circle">5</div>
        <div class="label">Saggezza</div>
      </div>
      <div class="stat">
        <div class="circle">6</div>
        <div class="label">Carisma</div>
      </div>
    </div>
  </div>
</body>
</html>
