<!DOCTYPE html>
<html lang="it">    
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Home Page</title>
    <link rel="stylesheet" href="/src/main/resources/static/css/style-homePage.css"/>
</head>
<body>
    <nav>
        <a id="nav_item" href="/homePage.html">Home</a>
        <a id="nav_item" href="/characters">Characters</a>
        <a id="nav_item" href="/note">Note</a>
        <a id="nav_item" href="/map">Map</a>
        <a id="nav_item" href="/profilo">Profilo</a>
    </nav>
    <header>
        <h1>Clicca per creare una nuova campagna</br>
             o rivedere una tua campagna passata</h1>
        <button onclick="window.location.href='creaCampagna.html'">Crea una nuova campagna</button>
        <button onclick="window.location.href='Campagne.html'">Rivedi una campagna passata</button>
    </header>
    <section>
        <h3>Esempio di campagna</h3>
        <p>
            Nome della campagna: La ricerca del tesoro perduto<br />
            Giocatori: Mario, Luigi, Peach<br />
            Descrizione: Un'avventura epica alla ricerca di un tesoro leggendario nascosto in una 
            caverna misteriosa.
        </p>
</body>
</html>