<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Scheda Personaggio</title>
    <link rel="stylesheet" href="/src/main/resources/static/css/style-homePage.css"/>
</head>
<body>

    <div class="navbar">
        <a id="char" href="/src/main/resources/templates/characterPage.html">Personaggi</a>
        <a id="note" href="/note">Note</a>
        <a id="map" href="/map">Mappe</a>  
    </div>
    <div class="titolo">
        <h1>Dnd Site</h1>
    </div>
    <section>   
        <h3>Clicca qui per creare la nuova campagna</h3>
        <div class="contenitore">
            <a id="campagna" href="/campagna">Crea Campagna</a>
        </div>
    </section>
        
</body>
</html>