<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Scheda Personaggio</title>
    <link rel="stylesheet" href="/css/style-index.css"/>
</head>
<body>
    <header>
        <h1>Comincia la tua campagna</h1>
        <button onclick="window.location.href='loginPage.html'">Accedi o Registrati</button>
    </header>
    <section>
        <h3>Cosa fa questo sito?</h3>
        <p>
            Questo sito è un'applicazione web progettata per aiutare i giocatori di giochi di 
            ruolo a gestire le loro campagne. Puoi creare e modificare schede personaggio, prendere 
            appunti e visualizzare mappe. È un modo semplice e intuitivo per tenere traccia delle 
            informazioni importanti durante le sessioni di gioco.
        </p>
    </section>
        
</body>
</html>