<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Scheda Personaggio</title>
    <link rel="stylesheet" href="/css/style-index.css"/>
</head>
<body>
<div class="background">
    <div class="navbar">
        <div class="logo">
        <img src="/images/logo_DndSite.png" alt="Logo DndSite">
        </div>
    </div>
    <header>
        <h1>DndSite</h1>
        <h2>Comincia la tua campagna</h2>
        <button onclick="window.location.href='/login'">Accedi</button>
        <button onclick="window.location.href='/register'">Registrati</button>
    </header>
</div>      
</body>
</html>