<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Login</title>
    <link rel="stylesheet" href="/src/main/resources/static/css/style-loginPage.css"/>
</head>
<body>
    <div class="container">
        <h1>Accedi</h1>
        <input type="text" id="dati" placeholder="Nome utente" required />
        <input type="password" id="dati" placeholder="Password" required />
        <button id="loginButton">Accedi</button>
        <p>Non hai un account? <a href="registerPage.html">Registrati</a></p>
    </div>
</body>
</html>
