<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>SignUp</title>
    <link rel="stylesheet" href="/src/main/resources/static/css/style-loginPage.css"/>
</head>
<body>
    <div class="container">
        <h1>Registrati</h1>
        <input typer="email" id="dati" placeholder="Email" required />
        <input type="text" id="dati" placeholder="Nome" required />
        <input type="text" id="dati" placeholder="Cognome" required />
        <input type="date" id="dati" placeholder="Data di nascita" required />
        <input type="text" id="dati" placeholder="Nome utente" required />
        <input type="password" id="dati" placeholder="Password" required />
        <input type="password" id="dati" placeholder="Conferma Password" required />
        <button id="loginButton">Registrati</button>
        <p>Hai già un account? <a href="loginPage.html">Accedi</a></p>
</body>
</html>
