<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style-account.css">
    <title>Campagna</title>
</head>
<body>
 <div class="background">
    <header class="navbar">
        <div class="logo">
            <img src="/images/logo_DndSite.png" alt="Logo DndSite">
        </div>
        <nav>
            <ul class="nav-links">
                <li><a href="/logged/master/masterIndex">Home</a></li>
                <li><a href="/logged/master/campagna">Campagne</a></li>
                <li><a href="/logged/master/account" th:text="${userDetails.username}">Account</a></li>
                <li><a href="#" onclick="event.preventDefault(); document.getElementById('logoutForm').submit();">Logout</a>
                    <form id="logoutForm" th:action="@{/logout}" method="post" style="display: none;">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                    </form>
                  </li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="account">
            <h2>Il tuo Account</h2>
            <p>Username: <span th:text="${credentials.username}">Username</span></p>
            <p>Ruolo: <span th:text="${credentials.role}">Ruolo</span></p>
            <div th:if="${credentials.user.image}">
                <p>Immagine Profilo</p>
                <img th:src="@{'/uploads/' + ${credentials.user.image.path}}" alt="Immagine Profilo" class="profile-image" />
            </div>
            <p>Nome: <span th:text="${credentials.user.name}">Nome</span></p>
            <p>Cognome: <span th:text="${credentials.user.surname}">Cognome</span></p>
            <p>Email: <span th:text="${credentials.user.email}">Email</span></p>
            <p>Data di Nascita: <span th:text="${#temporals.format(credentials.user.birth, 'dd/MM/yyyy')}">Data di Nascita</span></p>
        </section>
        <section class="actions">
            <h2>Azioni Account</h2>
            <a th:href="@{/logged/master/modificaAccount}" class="link-button">Modifica Account</a>
            <form th:action="@{/logged/master/deleteAccount/{id}(id=${credentials.id})}" method="post" class="inline-form">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                <button type="submit">Elimina Account</button>
            </form>
        </section>
    </main>
 </div>
</body>
</html>