<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Master HomePage</title>
  <link rel="stylesheet" href="/css/style-index.css"/>
</head>
<body>
  <header>
    <h1>Comincia la tua campagna</h1>
    <button onclick="window.location.href='/login'">Accedi</button>
    <button onclick="window.location.href='/register'">Registrati</button>

    <!-- form POST per tornare Giocatore -->
    <form th:action="@{/logged/diventaGiocatore}" method="post" style="display:inline">
      <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
      <button type="submit">Diventa Giocatore</button>
    </form>

    <button onclick="window.location.href='/logged/master/personaggio'">Personaggi</button>
    <button onclick="window.location.href='/logged/master/campagna'">Seleziona Campagna</button>
  </header>
  <section>
    <div th:if="${userDetails}">
      <span th:text="${userDetails.username}"></span>
    </div>
    <h3>Cosa fa questo sito?</h3>
    <p>…</p>
  </section>
</body>
</html>
